#display {
    color: #f8fafb;
 }
 #clear {
    background-color: #4c35aa;
    color: white;
 }
 .btn-number {
    background-color: #8efda6;
    color: black;
    font: 600;
 }
 .btn-operator{
    background-color: #f0db4f;
    color: #aa00a4;
 }
 .btn-operator{
    background-color: #f23b00;
    color: white;
 }
